In [3]:
import pandas as pd
import os

In [5]:
pd.__version__

'2.0.3'

In [4]:
os.system("wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet -O green_tripdata_2019-09.parquet")

--2024-06-22 17:25:35--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet
Slår upp d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:2764:5800:b:20a5:b140:21, 2600:9000:2764:1600:b:20a5:b140:21, 2600:9000:2764:a00:b:20a5:b140:21, ...
Ansluter till d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:2764:5800:b:20a5:b140:21|:443 … ansluten.
HTTP-begäran skickad, väntar på svar... 200 OK
Längd: 7692006 (7,3M) [binary/octet-stream]
Sparar till: ”green_tripdata_2019-09.parquet”

     0K .......... .......... .......... .......... ..........  0% 71,4M 0s
    50K .......... .......... .......... .......... ..........  1% 16,0M 0s
   100K .......... .......... .......... .......... ..........  1% 18,4M 0s
   150K .......... .......... .......... .......... ..........  2% 34,8M 0s
   200K .......... .......... .......... .......... ..........  3% 36,5M 0s
   250K .......... .......... .......... .......... ..........  3% 25,6M 0s
   300K .......... .......... .......... .......... ..........  4% 54,4M 0s
   350K .......... .......... .......... .......... ..........  5% 36,5M 0s
   400K .......... .......... .......... .......... ..........  5% 80,7M 0s
   450K .......... .......... .......... .......... ..........  6% 25,4M 0s
   500K .......... .......... .......... .......... ..........  7% 40,3M 0s
   550K .......... .......... .......... .......... ..........  7% 70,4M 0s
   600K .......... .......... .......... .......... ..........  8% 92,7M 0s
   650K .......... .......... .......... .......... ..........  9% 66,1M 0s
   700K .......... .......... .......... .......... ..........  9% 47,6M 0s
   750K .......... .......... .......... .......... .......... 10% 74,0M 0s
   800K .......... .......... .......... .......... .......... 11% 84,6M 0s
   850K .......... .......... .......... .......... .......... 11% 33,0M 0s
   900K .......... .......... .......... .......... .......... 12% 95,7M 0s
   950K .......... .......... .......... .......... .......... 13% 75,4M 0s
  1000K .......... .......... .......... .......... .......... 13% 33,7M 0s
  1050K .......... .......... .......... .......... .......... 14% 17,6M 0s
  1100K .......... .......... .......... .......... .......... 15%  195M 0s
  1150K .......... .......... .......... .......... .......... 15%  117M 0s
  1200K .......... .......... .......... .......... .......... 16%  201M 0s
  1250K .......... .......... .......... .......... .......... 17%  198M 0s
  1300K .......... .......... .......... .......... .......... 17%  166M 0s
  1350K .......... .......... .......... .......... .......... 18% 22,4M 0s
  1400K .......... .......... .......... .......... .......... 19% 17,7M 0s
  1450K .......... .......... .......... .......... .......... 19%  233M 0s
  1500K .......... .......... .......... .......... .......... 20%  109M 0s
  1550K .......... .......... .......... .......... .......... 21% 51,7M 0s
  1600K .......... .......... .......... .......... .......... 21%  138M 0s
  1650K .......... .......... .......... .......... .......... 22% 72,2M 0s
  1700K .......... .......... .......... .......... .......... 23%  206M 0s
  1750K .......... .......... .......... .......... .......... 23% 35,1M 0s
  1800K .......... .......... .......... .......... .......... 24% 4,82M 0s
  1850K .......... .......... .......... .......... .......... 25%  284M 0s
  1900K .......... .......... .......... .......... .......... 25%  359M 0s
  1950K .......... .......... .......... .......... .......... 26%  257M 0s
  2000K .......... .......... .......... .......... .......... 27%  286M 0s
  2050K .......... .......... .......... .......... .......... 27%  307M 0s
  2100K .......... .......... .......... .......... .......... 28%  249M 0s
  2150K .......... .......... .......... .......... .......... 29% 5,55M 0s
  2200K .......... .......... .......... .......... .......... 29% 18,3M 0s
  2250K .......... .......... .......... .......... .......... 30%  191M 0s
  2300K .......... .......... .......... .......... .......... 31% 23,3M 0s
  2350K .......... .......... .......... .......... .......... 31%  172M 0s
  2400K .......... .......... .......... .......... .......... 32%  172M 0s
  2450K .......... .......... .......... .......... .......... 33%  238M 0s
  2500K .......... .......... .......... .......... .......... 33%  205M 0s
  2550K .......... .......... .......... .......... .......... 34%  227M 0s
  2600K .......... .......... .......... .......... .......... 35%  215M 0s
  2650K .......... .......... .......... .......... .......... 35%  178M 0s
  2700K .......... .......... .......... .......... .......... 36%  243M 0s
  2750K .......... .......... .......... .......... .......... 37%  148M 0s
  2800K .......... .......... .......... .......... .......... 37%  271M 0s
  2850K .......... .......... .......... .......... .......... 38%  233M 0s
  2900K .......... .......... .......... .......... .......... 39%  176M 0s
  2950K .......... .......... .......... .......... .......... 39%  128M 0s
  3000K .......... .......... .......... .......... .......... 40%  140M 0s
  3050K .......... .......... .......... .......... .......... 41%  250M 0s
  3100K .......... .......... .......... .......... .......... 41%  223M 0s
  3150K .......... .......... .......... .......... .......... 42%  268M 0s
  3200K .......... .......... .......... .......... .......... 43%  167M 0s
  3250K .......... .......... .......... .......... .......... 43%  228M 0s
  3300K .......... .......... .......... .......... .......... 44%  203M 0s
  3350K .......... .......... .......... .......... .......... 45%  264M 0s
  3400K .......... .......... .......... .......... .......... 45%  286M 0s
  3450K .......... .......... .......... .......... .......... 46%  222M 0s
  3500K .......... .......... .......... .......... .......... 47%  245M 0s
  3550K .......... .......... .......... .......... .......... 47%  282M 0s
  3600K .......... .......... .......... .......... .......... 48%  177M 0s
  3650K .......... .......... .......... .......... .......... 49% 79,8M 0s
  3700K .......... .......... .......... .......... .......... 49%  115M 0s
  3750K .......... .......... .......... .......... .......... 50% 32,5M 0s
  3800K .......... .......... .......... .......... .......... 51% 48,4M 0s
  3850K .......... .......... .......... .......... .......... 51% 42,2M 0s
  3900K .......... .......... .......... .......... .......... 52%  114M 0s
  3950K .......... .......... .......... .......... .......... 53% 30,1M 0s
  4000K .......... .......... .......... .......... .......... 53%  260M 0s
  4050K .......... .......... .......... .......... .......... 54% 26,0M 0s
  4100K .......... .......... .......... .......... .......... 55%  100M 0s
  4150K .......... .......... .......... .......... .......... 55%  143M 0s
  4200K .......... .......... .......... .......... .......... 56%  168M 0s
  4250K .......... .......... .......... .......... .......... 57% 33,4M 0s
  4300K .......... .......... .......... .......... .......... 57%  147M 0s
  4350K .......... .......... .......... .......... .......... 58% 4,66M 0s
  4400K .......... .......... .......... .......... .......... 59% 14,2M 0s
  4450K .......... .......... .......... .......... .......... 59%  153M 0s
  4500K .......... .......... .......... .......... .......... 60% 54,3M 0s
  4550K .......... .......... .......... .......... .......... 61% 65,6M 0s
  4600K .......... .......... .......... .......... .......... 61% 99,4M 0s
  4650K .......... .......... .......... .......... .......... 62% 43,8M 0s
  4700K .......... .......... .......... .......... .......... 63% 66,7M 0s
  4750K .......... .......... .......... .......... .......... 63% 18,5M 0s
  4800K .......... .......... .......... .......... .......... 64%  184M 0s
  4850K .......... .......... .......... .......... .......... 65%  204M 0s
  4900K .......... .......... .......... .......... .......... 65%  220M 0s
  4950K .......... .......... .......... .......... .......... 66%  138M 0s
  5000K .......... .......... .......... .......... .......... 67% 85,8M 0s
  5050K .......... .......... .......... .......... .......... 67%  220M 0s
  5100K .......... .......... .......... .......... .......... 68%  180M 0s
  5150K .......... .......... .......... .......... .......... 69%  178M 0s
  5200K .......... .......... .......... .......... .......... 69%  271M 0s
  5250K .......... .......... .......... .......... .......... 70%  159M 0s
  5300K .......... .......... .......... .......... .......... 71%  229M 0s
  5350K .......... .......... .......... .......... .......... 71%  171M 0s
  5400K .......... .......... .......... .......... .......... 72%  277M 0s
  5450K .......... .......... .......... .......... .......... 73%  177M 0s
  5500K .......... .......... .......... .......... .......... 73%  135M 0s
  5550K .......... .......... .......... .......... .......... 74% 61,7M 0s
  5600K .......... .......... .......... .......... .......... 75%  108M 0s
  5650K .......... .......... .......... .......... .......... 75% 99,0M 0s
  5700K .......... .......... .......... .......... .......... 76% 14,9M 0s
  5750K .......... .......... .......... .......... .......... 77%  194M 0s
  5800K .......... .......... .......... .......... .......... 77%  215M 0s
  5850K .......... .......... .......... .......... .......... 78%  192M 0s
  5900K .......... .......... .......... .......... .......... 79% 71,8M 0s
  5950K .......... .......... .......... .......... .......... 79% 2,87M 0s
  6000K .......... .......... .......... .......... .......... 80% 73,8M 0s
  6050K .......... .......... .......... .......... .......... 81%  236M 0s
  6100K .......... .......... .......... .......... .......... 81%  261M 0s
  6150K .......... .......... .......... .......... .......... 82%  268M 0s
  6200K .......... .......... .......... .......... .......... 83%  277M 0s
  6250K .......... .......... .......... .......... .......... 83%  231M 0s
  6300K .......... .......... .......... .......... .......... 84%  264M 0s
  6350K .......... .......... .......... .......... .......... 85%  253M 0s
  6400K .......... .......... .......... .......... .......... 85%  284M 0s
  6450K .......... .......... .......... .......... .......... 86%  247M 0s
  6500K .......... .......... .......... .......... .......... 87%  165M 0s
  6550K .......... .......... .......... .......... .......... 87%  211M 0s
  6600K .......... .......... .......... .......... .......... 88% 7,05M 0s
  6650K .......... .......... .......... .......... .......... 89%  236M 0s
  6700K .......... .......... .......... .......... .......... 89%  244M 0s
  6750K .......... .......... .......... .......... .......... 90%  252M 0s
  6800K .......... .......... .......... .......... .......... 91%  258M 0s
  6850K .......... .......... .......... .......... .......... 91%  284M 0s
  6900K .......... .......... .......... .......... .......... 92%  210M 0s
  6950K .......... .......... .......... .......... .......... 93%  222M 0s
  7000K .......... .......... .......... .......... .......... 93%  227M 0s
  7050K .......... .......... .......... .......... .......... 94%  174M 0s
  7100K .......... .......... .......... .......... .......... 95% 12,8M 0s
  7150K .......... .......... .......... .......... .......... 95%  134M 0s
  7200K .......... .......... .......... .......... .......... 96%  190M 0s
  7250K .......... .......... .......... .......... .......... 97%  189M 0s

0

  7300K .......... .......... .......... .......... .......... 97%  148M 0s
  7350K .......... .......... .......... .......... .......... 98%  286M 0s
  7400K .......... .......... .......... .......... .......... 99%  277M 0s
  7450K .......... .......... .......... .......... .......... 99%  222M 0s
  7500K .......... .                                          100% 80,6M=0,1s

2024-06-22 17:25:35 (49,7 MB/s) - ”green_tripdata_2019-09.parquet” sparades [7692006/7692006]

In [5]:
df = pd.read_parquet("green_tripdata_2019-09.parquet")

In [6]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,None,0.3,14.16,1.0,1.0,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,None,0.3,10.30,1.0,1.0,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,None,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,2,2019-09-30 23:13:00,2019-09-30 23:41:00,None,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,None,0.0,46.50,NaN,NaN,NaN
449059,2,2019-09-30 23:26:00,2019-09-30 23:46:00,None,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,None,0.0,29.00,NaN,NaN,NaN
449060,2,2019-09-30 23:15:00,2019-09-30 23:43:00,None,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,None,0.0,59.84,NaN,NaN,NaN
449061,2,2019-09-30 23:19:00,2019-10-01 00:06:00,None,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,None,0.0,67.59,NaN,NaN,NaN
449062,2,2019-09-30 23:35:00,2019-09-30 23:58:00,None,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,None,0.0,29.32,NaN,NaN,NaN

In [7]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [26]:
from sqlalchemy import create_engine

In [28]:
conda install psycopg2

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 24.5.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.5.0



## Package Plan ##

  environment location: /Users/sahin.dursun/anaconda3

  added / updated specs:
    - psycopg2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2024.3.11  |       hca03da5_0         128 KB
    certifi-2024.6.2           |  py311hca03da5_0         162 KB
    openssl-3.0.14             |       h80987f9_0         4.3 MB
    psycopg2-2.9.9             |  py311h80987f9_0         174 KB
    ------------------------------------------------------------
                                           Total:         4.8 MB

The following NEW packages will be INSTALLED:

  psycopg2           pkgs/main/osx-arm64::psycopg2-2.9.9-py311h80987f9_0

The following packages will be UPDATED:

  ca-certificates                     2023.12.12-hca03da5_0 --> 2024.3.11-hca03da5_0
  certifi                        2023.11.17-py311hca03da5_0 --> 2024.6.2-py311hca03da5_0
  openssl                                 3.0.12-h1a28f6b_0 --> 3.0.14-h80987f9_0



Downloading and Extracting Packages
psycopg2-2.9.9       | 174 KB    |                                       |   0%
ca-certificates-2024 | 128 KB    |                                       |   0%

certifi-2024.6.2     | 162 KB    |                                       |   0%


psycopg2-2.9.9       | 174 KB    | ###4                                  |   9%
ca-certificates-2024 | 128 KB    | ####6                                 |  12%


openssl-3.0.14       | 4.3 MB    | 1                                     |   0%

certifi-2024.6.2     | 162 KB    | ###6                                  |  10%
ca-certificates-2024 | 128 KB    | ##################################### | 100%

psycopg2-2.9.9       | 174 KB    | ##################################### | 100%


openssl-3.0.14       | 4.3 MB    | ####################2                 |  55%


openssl-3.0.14       | 4.3 MB    | ##################################### | 100%









Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [48]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [49]:
engine.connect()

In [42]:
df.head(n=0).to_sql(name='yellow_taxi_data', con =engine, if_exists='replace')

0

In [40]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [43]:
df.to_sql(name='yellow_taxi_data', con =engine, if_exists='replace')

769

In [44]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2024-06-21 22:22:12--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Slår upp d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:2764:a600:b:20a5:b140:21, 2600:9000:2764:e600:b:20a5:b140:21, 2600:9000:2764:3600:b:20a5:b140:21, ...
Ansluter till d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:2764:a600:b:20a5:b140:21|:443 … ansluten.
HTTP-begäran skickad, väntar på svar... 200 OK
Längd: 12331 (12K) [text/csv]
Sparar till: ”taxi_zone_lookup.csv”

taxi_zone_lookup.cs 100%[===================>]  12,04K  --.-KB/s    om 0,001s

2024-06-21 22:22:12 (13,6 MB/s) - ”taxi_zone_lookup.csv” sparades [12331/12331]

In [45]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [46]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [50]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265